node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml
.env
pm2config.json
pm2configSurveillance.json
package.json
/.log
/_tst
/img
_botAccountkindzero.js
_tst*.js
_tst*.json
_dev_presetDate.json
_old_presetDate.json
_dev_autoPostatPresetTime.js
_old_autoPostatPresetTime.js
_dev_autoReply.js
_old_autoReply.js
_dev_replytoReply.js
_old_replytoReply.js

zaptoReply.js
zaptoReply.json